<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Identificación</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/btn.css">
  <link rel="stylesheet" href="/css/alert.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/input.css">
</head>

<body class="border-top-wide border-primary d-flex flex-column">
  <div class="page page-center">
    <div class="container container-tight py-6">
      <div class="text-center mb-4">
        <a href="."><img src="/img/resourcesLogo.png" height="36" alt="Recursos" /></a>
      </div>
      <% if(typeof alerts !== 'undefined') { %>
      <% alerts.map(function (alert){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%- alert.msg %>
      </div>
      <% }) %>
      <% } %>
      <form class="card card-md" action="/log/change" method="POST" onsubmit="return validate();">
        <input type="hidden" name="url" value="<%- datos.url %>">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Cambiar contraseña</h2>
          <div class="mb-2">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" id="userid" name="userid" autofocus autocomplete="off" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-2">
            <label class="form-label">Contraseña actual</label>
            <div class="input-group input-group-flat">
              <input type="password" name="pwdact" id="pwdact" class="form-control" value="" autocomplete="off" />
              <span class="input-group-text">
                <a href="#" class="input-group-link">
                  <svg xmlns="http://www.w3.org/2000/svg" id="togglePasswordAct" class="icon" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="2"></circle>
                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7">
                    </path>
                  </svg>
                </a>
              </span>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Nueva contraseña</label>
            <div class="input-group input-group-flat">
              <input type="password" name="pwdusu" id="pwdusu" class="form-control" value="" autocomplete="off" />
              <span class="input-group-text">
                <a href="#" class="input-group-link">
                  <svg xmlns="http://www.w3.org/2000/svg" id="togglePasswordNew" class="icon" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="2"></circle>
                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7">
                    </path>
                  </svg>
                </a>
              </span>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
              Cambiar contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="/js/log/change.js"></script>
</body>

</html>
