<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Identificaci칩n</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/btn.css">
</head>

<body class="border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex align-items-center justify-content-center">
    <div class="container container-tight">
      <div class="empty">
        <div class="empty-header">Cambio de contrase침a</div>
        <p class="empty-title">
          Se ha cambiado la contrase침a
        </p>
        <div class="empty-action">
          <a href="http://<%- datos.url %>/clean" class="btn btn-primary">Iniciar sesi칩n</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
