<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/boton.css">
  <link rel="stylesheet" href="/css/alert.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/tooltip.css">
  <link rel="stylesheet" href="/css/validate.css">
</head>

<body class="border-top-wide border-primary d-flex flex-column">
  <div class="page page-center">
    <div class="container container-tight py-6">
      <div class="text-center mb-4">
        <a href="."><img src="/img/resourcesLogo.png" height="36" alt="Recursos" /></a>
      </div>
      <% if(typeof alerts !== 'undefined' ) { %>
        <% alerts.map(function (alert){ %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%- alert.msg %>
          </div>
        <% }) %>
      <% } %>
      <form class="card card-md" action="/register" method="POST" onsubmit="return validate();">
        <input type="hidden" name="url" value="<%- datos.url %>">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Crear nueva cuenta</h2>
          <div class="mb-2">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" id="userid" name="userid" style="text-transform: lowercase;" autofocus autocomplete="off" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Dirección de correo</label>
            <input type="text" class="form-control text-lowercase" id="emausu" name="emausu" value="" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control" autocomplete="off" name="pwdusu" id="pwdusu" />
              <span class="input-group-text">
                <a href="#" class="link-secondary" id="togglePassword" data-bs-toggle="tooltip" aria-label="Ver contraseña" data-bs-original-title="Ver contraseña">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>
                </a>
              </span>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
              Crear nueva cuenta
            </button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted mt-1">
        ¿Tienes ya una cuenta?
        <a href="/?valid=<%= datos.url %>">Identificarme</a>
      </div>
    </div>
  </div>

  <script src="/js/log/sign-up.js"></script>
  <script src="/js/util.js"></script>
</body>

</html>
