<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand pe-0 pe-md-3">
      <a href="/">
        <img src="/img/resourcesLogo.png" width="110" height="32" alt="AYUDA" class="navbar-brand-image">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <div class="d-none d-xl-block">
            <span class="avatar avatar-sm avatar-rounded">
              <h5>
                <%- user.userid.slice(0,5) %>
              </h5>
            </span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/logout" class="dropdown-item">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24"
              viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke-width="0.4" fill="none"
                d="M6.1 20.925q-.6 0-1.012-.412-.413-.413-.413-1.013V5.85q0-.6.413-1.013.412-.412 1.012-.412h6.225v.625h-6.2q-.3 0-.55.25-.25.25-.25.55V19.5q0 .3.25.55.25.25.55.25h6.2v.625Zm10.25-5.275-.475-.425L18.1 13H9.35v-.65h8.75l-2.225-2.225.475-.45 2.975 3Z" />
            </svg>
            Finalizar sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
